/* general settings */

body {
	min-width: 310px;
	padding-top: 110px;
    font-family: 'Source Sans Pro',sans-serif;
    color: #73879c;
    font-size: 18px;
    line-height: 150%;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

h2, h3, h4, h5, h6 {
    font-family: 'Lato',sans-serif;
    font-weight: 700;
    letter-spacing: .025em;
    color: #506a85;
    margin-top: 0;
}

h1 {
	font-family: 'Lato',sans-serif;
    font-weight: 700;
    letter-spacing: .025em;
    margin-top: 0;
	margin-top: 300px;
	font-size: 78px;
	text-transform: uppercase;
	color: #ffffff;
}

h2 {
    font-size: 44px;
    line-height: 130%;
    margin-bottom: 25px;
}

h3 {
    font-size: 26px;
    line-height: 130%;
    margin-bottom: 20px;
}
h4 {
	font-size: 20px;
	line-height: 150%;
	margin-bottom: 5px;
}

a {
	text-decoration: none;
	color: #506a85;
}

a:hover,
a:focus,
.describe a:hover h4,
a.carousel-control:hover span, 
a.gallery-control:hover span {
	text-decoration: none;
	color: #00bc9c;
}

ul {
    list-style: none;
    position: relative;
}

/* navbar */

a.navbar-brand:hover img,
.logo:hover {
	opacity: 0.6;
}

.navbar {
	height: 110px;
	width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
	background-color: rgba(255,255,255, 0.96);
    border-bottom: 1px solid #e6e9ed;
}

.navbar ul {
    list-style: none;
}

.navbar-nav {
	margin-left: 70px;
}

.navbar-nav > li > a {
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #506a85;
    padding: 15px 20px;
    border: 1px solid rgba(255,255,255,0);
    z-index: 2;
}

.navbar-brand {
    padding: 0;
}

.nav .open > a {
	border: none;
}

.navbar-fixed-top .navbar-collapse {
    max-height: 320px;
}

.dropdown-menu {
    top: 97%;
}

.search .btn {
	padding: 0px 8px 0px;
	font-size: 24px;
}

.navbar-form .form-control {
    padding-right: 50px;
	box-shadow: none;
}

.navbar-form .form-control:focus {
	border-color: #00bc9c;
}

.navbar-toggle {
	background-color: #1abb9c;
	border-radius: 3px;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

/* modal */

.modal {
	display: none;
	width: 400px;
	max-width: 100%;
	height: 400px;
	margin: auto;
	padding: 20px;
	text-align: center;
	background: #ffffff;
	border-radius: 6px;
	opacity: 0.97;
}

.modal-header {
	padding: 0;
}

.modal .control-label { 
	font-weight: normal;
}

.modal .controls input {
	border-radius: 3px;
	border: 1px solid #cccccc;
	margin: 5px 0;
	padding: 0px 10px;
	font-weight: normal;
	font-size: 14px;
}

.modal .controls input:focus {
	border: 1px solid #00bc9c;
}

.modal .btn {
	padding: 8px 71px 8px;
}

.modal .checkbox input {
	position: static;
}

label.checkbox {
	font-weight: normal;
	font-size: 13px;
}

/* slider */

.slide {
	background: #506a85;
}

.carousel-inner > .item > img {
	margin: 0 auto;
}

@media (min-width: 1199px){
	.carousel-caption {
		bottom: 30%;
	}
}

.carousel:hover .carousel-indicators {
	display: inline-block;
}

.carousel:hover .carousel-control {
	display: block;
}

.carousel-control {
	display: none;
}

.carousel-indicators {
	display: none;
    width: auto;
    margin-left: 0;
    background: #ffffff;
    bottom: -25px;
	left: 46.5%;
	padding: 0 15px;
	border-radius: 3px;
}

.carousel-indicators li {
	background-color: #506a85;
	border: 0;
	width: 12px;
	height: 12px;
	margin: 0;
	border-radius: 6px;
}

.carousel-indicators .active {
	background-color: #00bc9c;
}

.carousel-control .fa-angle-left,
.carousel-control .fa-angle-right {
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
	font-size: 50px;
	background: #506a85;
	padding: 0px 15px;
	border-radius: 3px;
}

.carousel-control .fa-angle-left {
	left: 50%;
}

.carousel-control .fa-angle-right {
	right: 50%;
}

.btn-large {
	padding: 11px 20px 13px;
	margin: 15px 0;
}

.btn {
    color: #ffffff;
    background: #1abb9c;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 700;
    letter-spacing: .02em;
    text-shadow: none;
    border: 0;
    text-transform: uppercase;
    border-radius: 3px;
}

.btn:hover{
	background: #17a78b;
	color: #ffffff;
	box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
}

.input-group .form-control {
	padding: 6px 6px;
}

.input-group-btn:last-child > .btn {
	border-radius: 3px;
}

/* main */

.center-block {
    float: none;
}

.inner {
    padding-top: 120px;
    padding-bottom: 120px;
}

.middle-p {
    font-size: 22px;
    line-height: 150%;
}

.top-padd {
    padding-top: 80px;
}

.small-p {
	margin-top: -5px;
	font-size: 16px;
    line-height: 160%;
}

.glyphicon-star-empty,
.fa-lightbulb-o,
.glyphicon-heart-empty {
	display: inline-block;
	font-size: 65px;
	color: #1abb9c;
}

.works {
	background-color: #f2f5f7;
}

.blind-wrapp {
	position: relative;
}

.blind {
	display: none;
}

.blind-wrapp:hover .blind {
	display: inline-block;
	position: absolute;
	top:0;
	left: 0;
	background: rgba(26, 187, 156, 0.75);
	color: #ffffff;
	font-size: 50px;
	text-align: center;
	padding-top: 30%;
	width: 100%;
	height: 100%;
	z-index: 3;
}

.describe {
	background: #ffffff;
	border: 1px solid #e6e9ed;
	padding: 25px;
	text-align: center;
}

.describe p {
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 10px;
}

.gallery-control {
	width: 152px;
	margin-top: 30px;
}

.gallery-control .fa-angle-left,
.gallery-control .fa-angle-right {
	z-index: 5;
	display: inline-block;
	font-size: 12px;
	color: #ffffff;
	background: #c9d2da;
	padding: 3px 7px;
	border-radius: 3px;
}

.gallery-control .fa-angle-left {
	left: 50%;
}

.gallery-control .fa-angle-right {
	right: 50%;
}

.gallery-control .fa-angle-left:hover,
.gallery-control .fa-angle-right:hover {
 	background: #506a85;
	color: #00bc9c;
}

.gallery-indicators {
    text-align: center;
    list-style: none;
	display: inline-block;
	margin: 0;
	padding: 3px;
}

.gallery-indicators li {
    display: inline-block;
    width: 12px;
    height: 12px;
    cursor: pointer;
	border: 0;
	background-color: #506a85;
	margin: 0;
	border-radius: 6px;
}

.gallery-indicators .active {
    background-color: #00bc9c;
}

/* footer */
footer {
	background: #2f4052;
	font-size: 14px;
	line-height: 22px;
}

footer .inner {
	padding-top: 45px;
	padding-bottom: 35px;
}

footer .container > .row {
    margin-left: -25px;
    margin-right: -25px;
}

footer .row .inner {
	padding: 25px;
}

h5 {
	font-size: 16px;
	line-height: 150%;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #ffffff;
}

footer .logo {
	margin-bottom: 20px;
}

footer p {
	margin-bottom: 15px;
}

.more {
	font-weight: 700;
}

.more span {
	font-size: 75%;
	margin-left: 7px;
}

footer .gal {
	display: inline-block;
	width: 48%;
	margin-bottom: 5px;
	margin-right: 1px;
}

footer .gal img {
	width: 100%;
	height: auto;
}

footer .blind-wrapp:hover .blind {
	font-size: 25px;
	padding-top: 28%;
}

footer ul {
	padding-left: 0;
}

footer .input-group {
	background: #596675;
	padding: 3px 6px 3px 3px;
	border-radius: 3px;
}

footer .form-control {
	background: #596675;
	border: 0;
	font-size: 12px;
	box-shadow: none;
	color: #ffffff;
}

footer .input-group-btn .btn {
	font-size: 12px;
	padding: 6px 6px;
}

/*super-footer*/

.footer-bottom {
    background: #283645;
    color: #707e8c;
}

.footer-bottom .container.inner {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-bottom p, .footer-bottom a {
    color: #707e8c;
}

.footer-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-menu li {
    display: inline;
    padding-left: 10px;
}
.footer-menu li:first-child::before {
    display: none;
}

.footer-menu li::before {
    display: inline-block;
    content: "·";
    padding-right: 12px;
}

.footer-menu a:hover {
	color: #1abb9c;
}

@media (max-width: 640px) {
	h1 {
		font-size: 18px;
		line-height: 115%;
		letter-spacing: .031em;
	}
	
	.slide p {
		display: none;
	}
	
	.slide .btn-large {
		padding: 3px 9px;
		margin: 0;
	}
	
	.slide a.btn {
		font-size: 10px;
	}
	
	.carousel-caption {
		bottom: 0;
	}
}

@media (min-width: 641px) and (max-width: 767px) {
	h1 {
		font-size: 38px;
		line-height: 115%;
		letter-spacing: .031em;
	}

	.slide p {
		font-size: 20px;
		line-height: 135%;
		margin-top: 15px;
	}
	
	.slide .btn-large {
		padding: 0;
		margin: 0;
	}
	
	.carousel-caption {
		bottom: 0;
	}
	
}

@media (max-width: 767px) {
	h2 {
		font-size: 33px;
		line-height: 120%;
		margin-bottom: 20px;
	}
	
	.middle-p {
		font-size: 20px;
	}
	
	.small-p {
		margin-bottom: 20px;
	}
	
	.navbar .container,
	.container {
		padding-right: 20px;
		padding-left: 20px;
		}
		
	.navbar-nav{
		margin: 0;
	}	
	
	.inner {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	
	.esc{
		display: none;
	}
	
	.footer-bottom p.pull-left,
	.footer-bottom ul.pull-right {
		float: none !important;
		text-align: center;
	}
}

@media (min-width: 767px) and (max-width: 1024px) {
	.slide p {
		font-size: 22px;
		line-height: 135%;
		margin-top: 17px;
	}
	
	.small-p {
		margin-bottom: 30px;
	}
}

@media (min-width: 767px) and (max-width: 979px) {
	h1 {
		font-size: 38px;
	}
}

@media (min-width: 980px) and (max-width: 1200px) {
	h1 {
		font-size: 60px;
	}
}


@media (max-width: 1199px) {
	.navbar-collapse {
    	border-bottom: 1px solid #cccccc;
	}
	
	.collapse{
		background-color: #ffffff;
	}
	
	.advantages .glyphicon,
	.advantages .fa {
		font-size: 34px;
	}
	
	.icon.pull-right {
		float: left !important;
		margin-right: 20px;
	}
}

@media (min-width: 767px) and (max-width: 1199px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
	
    .navbar-collapse.collapse.in {
        display: block !important;
		border: 1px solid #cccccc;
    }
	
    .navbar-header .collapse,
	.navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
	
	.navbar > .container {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}
	
	.navbar > .container .navbar-brand {
		margin-left: 15px;
	}
	
	.navbar-nav {
    margin-left: 0;
	}
	
	.navbar-nav > li > a {
		font-size: 14px;
		padding: 15px;
	}
	
	.navbar-left {
		margin-left: 0;
	}
	
	.navbar-right {
		margin-right: 13px;
	}
}
